body {
    margin: 0px;
    background-image: url(../assets/backg.jpg);
    background-size: cover;
    background-color: aliceblue;
    background-attachment: fixed;
    background-repeat: repeat;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    height: 40px;
    width: 150px;
    background-color: #D3CDC7;
    border-radius: 5px;
    border: none;
    transform: scale(0.9);
    transition: all 0.2s;
}

/* Navigation area | Area Navigasi */
nav {
    position: sticky;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    color: black;
    background-color: aliceblue;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.5);
}

#revou {
    display: flex;
    align-items: center;
    text-align: right;
}

.nav_title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_title p {
    font-weight: 500;
    display: inline-block;
    font-size: 1.3em;
}

#nav_logo {
    height: 90%;
}

.container {
    width: 800px;
    margin: auto;
}

/* Header area | Area Header */
header {
    background-color: rgba(2, 2, 2, 0.274);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    transform: scale(0.5);
    animation: fadeInScale 1s forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

#judul_header {
    font-weight: 250;
}

/* Main calculator | Kalkulator Utama */
.calc {
    background-color: rgba(2, 2, 2, 0.274);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
    transform: scale(0.5);
    animation: fadeInScale 1s forwards;
    opacity: 0;
    animation-delay: 1s;
}

section {
    width: 100%;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.144);
    resize: none;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.5em;
    color: aliceblue;
    transition: all 0.2s;
    transform: scale(0.95);
}

textarea:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

textarea:focus {
    transform: scale(1);
}

/* Article area (Info Celsius & Fahrenheit) | Area Arikel (Info Celsius & Fahrenheit) */
.article2 {
    background-color: rgba(2, 2, 2, 0.274);
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    transform: scale(0.5);
    animation: fadeInScale 1s forwards;
    opacity: 0;
    animation-delay: 1.5s;
}

/* Footer area | Area Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #192f38;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer_profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.image_link {
    height: 50px;
    transform: scale(0.9);
    transition: all 0.2s;
}

.image_link:hover {
    height: 50px;
    transform: scale(1);
}

#wallpaper_link:link {
    color: aliceblue;
}

#wallpaper_link:visited {
    color: aliceblue;
}

#profile_picture {
    height: 50px;
    border-radius: 8px;
    transition: all 0.2s;
}

#profile_picture:hover {
    border-radius: 50px;
    transform: scale(1.2);
}

/* Blur effect | Efek Buram */
.blur {
    backdrop-filter: blur(10px);
}

/* Shadow effect | Efek Bayangan*/
.shadowed {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

/* Button color styles | Gaya Warna Tombol */
.grad_green:hover {
    background: rgb(34, 139, 34);
    background: linear-gradient(90deg, rgba(34, 139, 34, 1) 0%, rgba(144, 238, 144, 1) 100%);
    color: ghostwhite;
    transform: scale(1);
    border-radius: 100px;
}

.grad_darkblue:hover {
    background: rgb(42, 77, 91);
    background: linear-gradient(90deg, rgba(42, 77, 91, 1) 0%, rgba(112, 158, 159, 1) 100%);
    color: aliceblue;
    transform: scale(1);
    border-radius: 100px;
}

.grad_red:hover {
    background: rgb(165, 42, 42);
    background: linear-gradient(90deg, rgba(165, 42, 42, 1) 0%, rgba(255, 99, 71, 1) 100%);
    color: aliceblue;
    transform: scale(1);
    border-radius: 100px;
}

.grad_black:hover {
    background: rgb(40, 40, 40);
    background: linear-gradient(90deg, rgba(40, 40, 40, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: aliceblue;
    transform: scale(1);
    border-radius: 100px;
}

/* Mobile view support | Dukungan tampilan mobile */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .calc_buttons {
        width: 45%;
    }

    section {
        width: 100%;
        text-align: center;
    }
    
    textarea {
        font-size: 15px;
        width: 100%;
    }
    
    #revou {
        font-size: 0.90em;
    }

    #nav_logo {
        height: 70%;
    }

    .nav_title p {
        font-weight: 500;
        display: inline-block;
        font-size: 1em;
    }

    .nav_title {
        gap: 5px;
    }
}

/* Animation when the web is opened | Animasi ketika web dibuka */
@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}